@font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/Reveal/RobotoFonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/Reveal/RobotoFonts/Roboto-Bold.ttf?v=1.0");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../assets/Reveal/RobotoFonts/Roboto-Medium.ttf?v=1.0");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/Reveal/RobotoFonts/Roboto-Light.ttf?v=1.0");
}